/loader.ipynb
/.ipynb_checkpoints/loader-checkpoint.ipynb
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/stellen.geojson
/.idea/vcs.xml
/.idea/wasserstaende.iml
/wasserstaende.json
/output.geojson
